.column {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
}

.base-currency,
.base-currency-rate,
.exchange-currency,
.exchange-rate,
.add {
  flex: 1;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
}

.add {
  border-color: transparent;
  background-color: transparent;
}

.exchange-rate,
.base-currency-rate {
  margin-left: 20%;
}

h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 25px;
}

ul {
  list-style: none;
  display: flex;
}

li > div {
  background-color: beige;
  width: 100px;
  height: 75px;
  margin: 0 20px;
}
